pkgbase = whatslite-git
	pkgdesc = Lightweight desktop WhatsApp client for Linux (pure-Go Gio + whatsmeow)
	pkgver = r1
	pkgrel = 1
	url = https://github.com/muhammadmishbakhuzzuhail/whatslite
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = go
	makedepends = git
	makedepends = pkgconf
	depends = libxkbcommon
	depends = wayland
	depends = libx11
	depends = libxcursor
	depends = libxfixes
	depends = vulkan-icd-loader
	depends = opus
	depends = mpv
	provides = whatslite
	conflicts = whatslite
	source = whatslite::git+https://github.com/muhammadmishbakhuzzuhail/whatslite.git
	sha256sums = SKIP

pkgname = whatslite-git
